<div class="container-fluid">

	<div class="row">

		<div class="col-6-md">
			<div class="panel panel-default">
				<div class="panel-heading">				
					<h1>Say something!</h1>
				</div>
				<div class="panel-body">
					<%= render 'form', tweet: @tweet %>

					<%= link_to 'Back', tweets_path %>
				</div>
			</div>
		</div>
		
	</div>

</div>
